body{
	margin: 0px;
	font-family: "Franklin Gothic Medium";
	background-color: #f0f0f0;
}
header{
	background-color: #4a4a4a;
	text-align: center;
	padding: 5px;
}
header > img{
	width: 90px;
	height: auto;
}
header > span > a{
	float: right;
	margin: 7px; 
	margin-top: 7px; 
	font-size: 20px;
	text-decoration: none;
	color: #6aa441;
}
header > span > a:hover{
	color: #00f54e;
}
article{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
select{
	background-color: #e0e0e0;
	margin: 10px;
	padding:7px;
	width: 200px;
	font-size:20px;
	border-style:hidden;
	border-radius: 2px;
	border-width:0px; 
}
form{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.input{
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
}
.output{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:850px;
	margin-top: 40px;
	padding: 60px;
	min-height: 250px;
	padding: 20px;
	box-shadow: 0px 0px 17px 8px rgba(0, 0, 0,0.05);
}
textarea{
	border:none;
	width: 600px;
}
button{
	margin: 10px;
	height: 38px;
	color: #ffffff;
	font-size: 20px;
	background: #c4ffad;
	padding: 5px;
	text-decoration: none;
	border: 0px;
	margin-left: 10px;
}
button:hover{
	background: #00f54e;
	text-decoration: none;
}
P{
    text-align: left;
}